.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ccc;
  margin: 0 40px;
  padding: 20px;
  font-size: 20px;
}

.App-logo {
  width: 60px;
}

.logo-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #007bff;
}

.selected {
  border-bottom: 2px solid #007bff;
}

.nav-class {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}

/* ------------- Missions ------------- */
table {
  margin: 20px 5%;
  width: 90%;
}

table,
th,
td {
  text-align: left;
  border: 2px solid #dee2e6;
  border-collapse: collapse;
}

thead {
  border-bottom: 4px solid #dee2e6;
}

th,
td {
  padding: 10px;
  font-size: 18px;
}

tbody > tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.mission-title,
.mission-description {
  vertical-align: text-top;
}

.mission-title {
  font-weight: bold;
}

.mission-reserve > span {
  white-space: nowrap;
  color: #fff;
  background-color: #6d757d;
  border-radius: 6px;
  padding: 4px;
  font-weight: bold;
}

.mission-btn > button {
  white-space: nowrap;
  color: #343a40;
  background-color: inherit;
  border: 1px solid #343a40;
  border-radius: 4px;
  font-size: 20px;
  padding: 8px;
  margin: 0 20px;
}

/* ------------- Rockets ------------- */
.rocket-container {
  display: flex;
  margin: 0 50px;
}

.rocket-image {
  margin: 10px;
  width: 200px;
}

.rocket-right-panel {
  width: 100%;
}

.rocket-title {
  font-weight: bold;
}

.rocket-description {
  font-family: 'Courier New', Courier, monospace;
}

.reserved-notification {
  margin-right: 5px;
  background-color: #18a2b8;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #18a2b8;
}

.rocket-cancel {
  border: 1px solid #6d757d;
  border-radius: 5px;
  background-color: #fff;
  color: #6d757d;
}

.rocket-reserve {
  background-color: #007bff;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #007bff;
}
